# Port parameters override (Default is 3000)
PORT=3000

# Custom Admin Access password (Default is "password123")
ADMIN_PASSWORD=password123

# MongoDB Atlas or local connection URI (Optional fallback to local file store if blank)
MONGODB_URI=
